#nav-wrap ul, #nav-wrap li, #nav-wrap a {
    margin: 0;
    margin-bottom: 0px;
   padding: 10px;
   border: none;
   outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 14px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color: #fff;}

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;
   background-color: #fff;
   /* center align the menu */
   text-align: right;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
  text-decoration: none;
   text-align: left;
   color: #333;

  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}


ul#nav li a:active { background-color: transparent !important; }


ul#nav li a:hover,
ul#nav li.current a {
   color: #5ee68c; 
}