@import '../mixins';
@import '../variables';

.card {
    //margin-bottom: 335px;
    width: 200px;
    max-height: 250px;
    position:sticky;
    top: 20px;
}

.cardTell {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    max-height: 300px;
    position:sticky;
    top: 290px;
}

.cardContent {
    justify-content: center;
    flex-direction: column;
}

.bullet {
    display: inline-block;
    margin: 0 2px;
    transform: scale(0.8);
}

.title {
    font-size: 14;
}

.pos {
    margin-bottom: 12px;
}

.icon {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.iconDiv {
    width: 80px;
}

.button {
    height: 96px;
}

.header {
    text-align: center;
    margin-bottom: 10px
}

@media screen and (max-width: 768px) {

    .iconDiv {
        width: 20vw;
    }

    .cardContainer {
        flex-direction: row;
        width: 100vw;
    }

    .card {
        margin-bottom: 20px;
        width: 90vw;
        max-height: 250px;
        position: relative;
        top: 20px;
    }

    .cardTell {
        margin-top: 20px;
        margin-bottom: 50px;
        width: 90vw;
        max-height: 300px;
        position: relative;
        top: 20px;
    }

}