.suggestContainer {
    display: flex;
    width: 100%;
}

.suggestCard {
    margin-top: 20px;
    // margin-left: 20px;
    margin-bottom: 50px;
    width: 20%;
    height: 400px;
    margin-right: 10px;
}

.spacer {
    margin-top: 50px;
}

.suggestRow {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .spacer {
        height: 170vh;
    }

    .suggestRow {
        display: flex;
        flex-direction: column;
    }
    

    .suggestCard {
        width: 80vw;
    }
    .suggestContainer {
        height: 170vh;
        flex-direction: column;
    }
}