@import '../index';

.index {
    & .page__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-size: 2.6rem;
    }

    &__text {
        font-weight: bold;
        font-size: 1.6rem;
        color: rgba($BLACK, 0.4);
        margin-bottom: 15px;
    }

    &__button {
        margin-right: auto;
    }

    &__cards {
        display: flex;
        background-color: rgba(0,0,0,0.1);
        padding: 10px;
        box-sizing: border-box;
        border-radius: 8px;
        flex-wrap: wrap;
    }

    &__card {
        margin: 10px;
        width: calc(50% - 20px);
    }
}