@import '../mixins';
@import '../variables';

.page {
    display: flex;
    justify-content: center;
    min-height: 100vh;   
    padding: 80px 40px;
    box-sizing: border-box;

    &__content {
        width: 1200px;
        box-sizing: border-box;
        padding: 30px;
    }
}