@import '../mixins';
@import '../variables';

.page {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;   
    padding: 0px 0px;
    width: 100%;

    &__content {
        width: '100%';
        // box-sizing: border-box;
        padding-top: 100px;
        padding-right: 0px;
        padding-left: 0px;
    }
}