@import '../mixins';
@import '../variables';

.page {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;   
    padding: 80px 40px;
    box-sizing: border-box;

    &__content {
        box-sizing: border-box;
        padding: 0;
    }
}